---
layout: single
title: Portafolio
permalink: /portfolio/
classes: wide
---

{% if site.portfolio %}
<!--<h1 class="page__title">Portafolio</h1>-->
  <p>Proyectos destacados de mi trabajo como ingeniero electrónico.</p>

  <div class="grid">
    {% for post in site.portfolio %}
      <div class="grid-item">
        {% if post.image %}
          <img src="{{ post.image | relative_url }}" alt="{{ post.title }}" style="width:100%; height:auto; max-height:400px; object-fit:contain;">
        {% endif %}
        <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
        <p>{{ post.excerpt | markdownify }}</p>
        <p><small>{{ post.date | date: "%B %d, %Y" }}</small></p>
      </div>
    {% endfor %}
  </div>
{% endif %}
